*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    background-blend-mode: overlay;
}

header{
    
    padding: 3em 12em;
    display: flex;
}
.header-logo{
    flex: 1;
}
.header-logo img{
    width: 9em;
}
header nav button{
    background-color: white;
    color: hsl(192, 100%, 9%);
    border-radius: 20px;
    padding: 0.6em 2.5em;
    border: none;
    box-shadow: 2px 2px 2px #e3f2f7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
header nav button:hover{
    cursor: pointer;
    font-weight: 400;
}

main .container{
    width: 100%;
}

main .container .container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 12em 2.5em 12em;
}
main .container .container-2 .build{
    flex: 1;
    padding-right: 4em;
}

main .container .container-2 .build h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
    padding: 0em 3em 0.5em 0em;
    color: hsl(192, 100%, 9%);
}

main .container .container-2 .build p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
}

main .container .container-2 .build .build-button{
    background-color: hsl(322, 100%, 66%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 2em;
    padding: 0.8em 2.9em;
}
main .container .container-2 .build button:hover{
    cursor: pointer;
    background-color: hsl(322, 80%, 73%);

}

main .container .image img{
    width: 37vw;

}

main .container .container-3 {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    padding: 8em 12em 0em 12em;
    grid-gap: 1.5em;
}

main .container .container-3 .container-3-1 {

    box-shadow: 0 0 10px #f2f2f2;
    -webkit-box-shadow: 0 0 10px #f2f2f2;
    -moz-box-shadow: 0 0 10px #f2f2f2;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 56% 43%;
    align-items: center;
    justify-content: center;

}

main .container .container-3 .container-3-1 .grow {
    padding: 0em 6em 0em 4em;

}
main .container .container-3 .container-3-1 .grow h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: hsl(192, 100%, 9%);
    padding: 0em 3em 0.5em 0em;

}
main .container .container-3 .container-3-1 .grow p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);

}
main .container .container-3 .container-3-1 .grow-img img {
    
    width: 90%;
    padding: 2em;
}

main .container .container-3 .container-3-2{

    display: grid;
    grid-template-columns: 43% 56%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #f2f2f2;
    -webkit-box-shadow: 0 0 10px #f2f2f2;
    -moz-box-shadow: 0 0 10px #f2f2f2;
    border-radius: 10px;
}

main .container .container-3 .container-3-2 .flowing-img img{
    width: 93%;
    padding: 3em; 
}

main .container .container-3 .container-3-2 .flowing{
    padding: 0em 6em 0em 4em;
}

main .container .container-3 .container-3-2 .flowing h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: hsl(192, 100%, 9%);
    padding: 0em 3em 0.5em 0em;
}

main .container .container-3 .container-3-2 .flowing p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
}

main .container .container-3 .container-3-3{
    
    display: grid;
    grid-template-columns: 56% 43%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #f2f2f2;
    -webkit-box-shadow: 0 0 10px #f2f2f2;
    -moz-box-shadow: 0 0 10px #f2f2f2;
    border-radius: 10px;
}
main .container .container-3 .container-3-3 .users{
    padding: 0em 6em 0em 4em;

}
main .container .container-3 .container-3-3 .users h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: hsl(192, 100%, 9%);
    padding: 0em 3em 0.5em 0em;

}
main .container .container-3 .container-3-3 .users p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);

}

main .container .container-3 .container-3-3 .users-img img{
    width: 93%;
    padding: 3em;

}
main .container .container-3 .container-4{
    background-color: white;
    border: 2px solid green;
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    padding: 2em 4em;
    grid-gap: 1.5em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #f2f2f2;
    -webkit-box-shadow: 0 0 10px #f2f2f2;
    -moz-box-shadow: 0 0 10px #f2f2f2;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 10vh;
    text-align: center;
    
}

main .container .container-3 .container-4 .ready{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: hsl(192, 100%, 9%);
    padding: 0em 3em 0.5em 0em;
}

main .container .container-3 .container-4 .ready-button{
    background-color: hsl(322, 100%, 66%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 0em;
    padding: 1.8em 0.8em;
}

footer .container-5{
    background-color: hsl(192, 100%, 9%);
    display: grid;
    /* grid-template-columns: 2.4fr 1fr 1fr 2fr; */
    grid-template-columns: 34% 18% 18% 30%;
    grid-column-gap: 0.2em;
    justify-content: center;
    align-items: center;
    padding: 0.6em 12em 2.5em 12em;

}
footer .container-5 .container-5-1 {
    justify-content: center;
    align-items: center;
    

}
footer .container-5 .container-5-1 .huddle-white-logo img{
    width: 9em;
    padding-top: 8em ;
   
}
footer .container-5 .container-5-1 .location {
    padding-top: 1.5em ;
    display: grid;
    grid-template-columns: 8% 80%;
    grid-column-gap: 1em;
   
}
footer .container-5 .container-5-1 .location .location-img img{
    padding: 0.4em 0em;
    width: 0.8em;

}
footer .container-5 .container-5-1 .location .location-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
    
}


footer .container-5 .container-5-1 .phone {
    padding-top: 1.3em ;
    display: grid;
    grid-template-columns: 8% 87%;
    grid-column-gap: 0.8em;
   
}
footer .container-5 .container-5-1 .phone .phone-img img{
    padding-top: 0.4em;
    width: 0.8em;

}
footer .container-5 .container-5-1 .phone .phone-no {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
}

footer .container-5 .container-5-1 .email {
    padding-top: 1.3em ;
    display: grid;
    grid-template-columns: 8% 87%;
    grid-column-gap: 0.8em;
   
}
footer .container-5 .container-5-1 .email .email-img img{
    padding-top: 0.4em;
    width: 0.8em;
}

footer .container-5 .container-5-1 .email .email-address {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
}

footer .container-5  .container-5-2-1{
   
    line-height: 2.3em;
    text-align: left;
    margin-top: 8em;
    margin-left: 6em;
}
footer .container-5 .container-5-2-1 p a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
    text-decoration: none;
    
}
footer .container-5 .container-5-2-1 p a:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

footer .container-5 .container-5-2-2{
    line-height: 2.3em;
    text-align: left; 
    margin-top: 8em;
    margin-left: 4em;
   
    
    
}

footer .container-5 .container-5-2-2 p a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);
    text-decoration: none;
}
footer .container-5 .container-5-2 .container-5-2-2 p a:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
 

footer .container-5 .container-5-3 {
    display: grid;
    grid-template-rows: 60%, 35%;
    padding-left: 5em;
    padding-top: 14em; 
} 

footer .container-5 .container-5-3 .socials a {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 25px;
    width: 25px;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 12px;
    padding: 0.5em 0.8em;
    margin-right: 0.7em;
    
} 

footer .container-5 .container-5-3 .socials a:hover{
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    border: 1px solid hsl(322, 100%, 66%);

}


footer .container-5 .container-5-3 .copyright {
    

    padding-top: 14em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: x-small;
    justify-content: center;
    align-items: center;
    color: hsl(208, 11%, 55%);

} 









@media only screen and (max-width: 425px){
    header{
    
        padding: 3em 1.5em;
        
    }
    main .container .container-2{
        padding: 0.6em 1.5em 2.5em 1.5em;
        flex-direction: column;
    }
    main .container .container-2 .build{
        text-align: center;
        padding-right: 0em;
    }
    main .container .container-2 .build h1{
        padding: 0em 0em 0.5em 0em;
    }
    main .container .image img{
        width: 48vh;
        padding: 2em;
    
    }
    main .container .container-3 {
        padding: 8em 1.5em;
    }
    main .container .container-3 .container-3-1 {

        display: flex;
        flex-direction: column-reverse;
        text-align: center;

    }
    main .container .container-3 .container-3-2 {

        display: flex;
        flex-direction: column;
        text-align: center;
    }
    main .container .container-3 .container-3-3 {

        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        
    }

    main .container .container-3 .container-3-1 .grow {
        padding: 0em 1.5em 0em 1.5em;
    
    }
    main .container .container-3 .container-3-1 .grow h3{
        padding: 0em 0em 0.5em 0em;
    
    }
    main .container .container-3 .container-3-2 .flowing {
        padding: 0em 1.5em 0em 1.5em;
    
    }
    main .container .container-3 .container-3-2 .flowing h3{
        padding: 0em 0em 0.5em 0em;
    
    }
    main .container .container-3 .container-3-3 .users {
        padding: 0em 1.5em 0em 1.5em;
    
    }
    main .container .container-3 .container-3-3 .users h3{
        padding: 0em 0em 0.5em 0em;
    
    }





    footer .container-5{
        display: flex;
        flex-direction: column;
        padding: 0.2em 1.5em 3.5em 1.5em;
        
    }
    /*footer .container-5 .container-5-2{
        border: 2px solid green;
        /* display: flex;
        flex-direction: column; */
        /* display: grid;
        grid-template-rows: 100% 100%;
        padding: 2em 0em 0em 0em;
        text-align: left;
     
    }*/
    footer .container-5  .container-5-2-1{

        margin-top: 2em;
        margin-left: 0em;
    }

    footer .container-5 .container-5-2-1 p a{
        padding: 0em;
        justify-content: left;
        align-items: left;
        
    }

    footer .container-5 .container-5-2-2{

        margin-top: 0em;
        margin-left: 0em;
       
        
        
    }
    footer .container-5 .container-5-2-2 p a{
    
        justify-content: left;
        align-items: left;
    }

    footer .container-5 .container-5-3 {
        padding-left: 1.5em;
        padding-top: 3em; 
        justify-content: center;
        align-items: center;
    }
     

    footer .container-5 .container-5-3 .copyright {
    
        padding-top: 3em;
    
    }

}
